*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.Cco{
	color: rgb(from rgb(253, 253, 253) r g b);
	font-family: Arial, Helvetica, sans-serif;
}
.cc{
	background-color: rgb(206, 138, 74);
}

.cl{
text-align: right;
}

.lft{
	text-align: left;
}


.header{
	
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
	background-color: rgb(206, 138, 74);
	color: rgb(0, 0, 0);
	

}	

.centerr{
	margin: 0 auto;
	text-align: center;
}

.corfonte{
	color: #4ef07e;

}
.zz{
	padding: 20px;
	background-color: #333;
	border:0px 0px 0px solid black ;
	width: 500px;
	margin-bottom: 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select[id="Gênero"],

textarea{
	padding: 5px;
	box-sizing: border-box;
	width: 300px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 5px;
	text-align: justify;
	border: none;
}
a:link{
	text-decoration: none;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}
.ppp{
	padding: 20px;
	background-color: #333;
	border:0px 0px 0px solid black ;
	width: 500px;
	margin-bottom: 5px;
	border-radius: 10px;
}

.div{
	height: 250px;
	border: 1px solid black;
	transition-duration: 1s;
	animation-timing-function: ease-in-out;
	flex-grow: 1;
	background-size: cover;
	background-position: center center;
}

#div1{
	background-color: aqua;
	background-image: url(../img/Roda.webp);

}
#div2{
	background-color: blueviolet;
	background-image: url(../img/Rusa.webp);
}

#div3{
	background-color: rgb(211, 12, 12);
	background-image: url(../img/batebate.jpg);
}

#div4{
	background-color: rosybrown;
	background-image: url(../img/Circo.webp) ;
}

main{
	height: 200px;
	width: 400px;
	display: flex;
}
.m{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	align-items: center;
	font-size: 72px;
}

.m::after{
content: "Desfrute de uma linda vista da cidade apartir da nossa roda gigante. ";
position: absolute;
background-color: rgb(206, 138, 74);
top: 200px;
font-size: 20pt;
left: -100px;
width: 800px;
height: 80px;
font-weight: 600 ;
opacity: 0;
transition: opacity 500ms, tranform 500ms ;
}

.m:is(:hover, :focus)::after{
	opacity: 1;
	transform: translateY(70px);
}

.b{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	align-items: center;
	font-size: 72px;
	
	
}

.b::after{
content: "Sinta a adrenalina enquanto percorre curvas emocionantes na nossa Montanha Russa. ";
position: absolute;
background-color: rgb(255, 255, 255);
top: 200px;
font-size: 20pt;
left: -100px;
width: 800px;
height: 80px;
font-weight: 600 ;
opacity: 0;
transition: opacity 500ms, tranform 500ms ;
border: 3px  #4ef07e solid;
border-radius: none;
}

.b:is(:hover, :focus)::after{
	opacity: 1;
	transform: translateY(70px);
}

.divv:hover{
	flex-grow: 7;	
}


nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}
nav ul li a{
	display:inline;
	position:relative;
	margin-top: 50%;
	right: 100%;
	margin-bottom: 5vw;
	text-align: center;
	font-size: 1.6vw;
	color: white;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}


@media only screen  and (max-width: 767px){
	.Cco{
		color: rgb(from rgb(255, 255, 255) r g b);
		font-family: Arial, Helvetica, sans-serif;
	}
	.header-content{
		font-size: 4vw;
		display: flex;
		
	}
	nav ul li a{
		display:block;
		margin-bottom: 5vw;
		text-align: center;
		font-size:100%;
		color: white;
	}
	nav ul{
		display: none;
		margin-top: 5%;
		bottom: 0;
	}
	
	.menu-toggle {
		display: block;
		position: absolute;
		top: auto;
		right: 5%;
		background: none;
		border: none;
		color: #fff;
		font-size: 7vw;
		cursor: pointer;
		z-index: 999;
		
	}

	.menu-toggle:focus {
		outline: none;
	}

	.header{
		padding: 15px;
	}

	

}
@media only screen and (min-width: 768px) {
	header{
		padding: 40px;
	}
	nav ul {
		display: flex;
	}
	nav ul li {
		margin-right: 40px;
	}

	section {
		margin: 40px;
		padding: 40px;
	}

	.menu-toggle{
		display: none;
		top: 25%;
		right: 5%;
		font-size: 150%;
		margin-top: 50%;
	}

	.header-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}



header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: relative; 
}
